{% extends "base.html" %}

{% block start %}

<div class="container mt-5">

    <a href="{% url 'see_blog' %}" class="btn btn-warning">See Your Blogs</a>

    <form method="post" class="my-3 py-3" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <label>Enter Blog Title</label>
                <input name="title" type="text" class="form-control" placeholder="Enter Title Here" value="{{ blog_obj.title }}">
            </div>
            <div class="col-md-12">
                {{ form.media }}
                {{ form.as_p }}
            </div>
            <div class="col-md-12">
                <input type="file" name="image" class="form-control">
            </div>
        </div>

        <button class="btn btn-primary mt-4" type="submit">Update Blog</button>
    </form>
</div>

{% endblock %}